/* Configuración Global */
* {
    box-sizing: border-box;
}

:root {
  /* Azul Principal (Círculos y listón) */
  --primary-blue: #1d3d8f;
  
  /* Azul Claro/Cian (Texto "SANCHEz" y "frozen sea food") */
  --secondary-cyan: #34b7eb;
  
  /* Naranja Vibrante (Borde dentado) */
  --accent-orange: #f39200;
  
  /* Fondo / Blanco (Cuerpo del camarón y fondo) */
  --bg-white: #ffffff;
  
  /* Color de Texto (Un tono más oscuro del azul principal para legibilidad) */
  --text-main: #152a63;
}

body {
    background-color: var(--bg-white);
    font-family: 'Poppins', Arial, sans-serif;
    color: var(--text-main);
}

/* Navegación */
.navbar-sanchez {
    background-color: var(--primary-blue) !important;
    border-bottom: 4px solid var(--secondary-cyan);
}

.sanchez-logo-header {
    height: 120px;
    width: 120px; /* Aseguramos que el ancho sea igual al alto */
    aspect-ratio: 1 / 1; /* Garantiza que siempre sea un cuadrado */
    object-fit: cover; /* Centra la imagen dentro del círculo sin deformarla */
    border: 2px solid var(--secondary-cyan);
    border-radius: 50%;
    background-color: white;
    display: block; /* Evita espacios extra debajo de la imagen */
    padding: 2px; /* Añade espacio entre el logo y el borde dorado */
}

.text-gold {
    color: var(--secondary-cyan) !important;
    font-size: 14px;
    font-weight: 500;
}

.row {
    letter-spacing: 10%;
}

/* Tarjetas */
.card-header-sanchez {
    background-color: var(--primary-blue) !important;
    color: var(--secondary-cyan) !important;
    font-weight: bold;
}

/* Botones */
.btn-sanchez-save {
    background-color: var(--accent-orange);
    color: white;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,0.1);
}

.btn-sanchez-save:hover {
    background-color: #246d45;
    color: var(--secondary-cyan);
}

.btn-sanchez-update {
    background-color: var(--secondary-cyan);
    color: var(--primary-blue);
    font-weight: bold;
}

/* Tablas */
.table-sanchez thead th {
    background-color: #f2eef7;
    color: var(--primary-blue);
    border-bottom: 2px solid var(--secondary-cyan);
    text-transform: uppercase;
    font-size: 0.85rem;
}

.text-sanchez {
    color: var(--primary-blue);
}
